<%= image_tag 'blues.jpg', :width => '100%' %>

<div class="main_menu">
  <ul class="main_area">
    <li>
      <%= link_to "Members", "#", class:"select_menu" %>
      <%= link_to "Chat Room", '#', class:"select_menu" %>
    </li>
  </ul>
</div>